In [1]:
import os
import sys

def to_base_cwd():
    os.chdir(os.path.join(os.getcwd(), '../..'))

os.getcwd()

'/home/james/eam-core-provenance/docs/ipynb'

In [2]:
#to_base_cwd()
os.getcwd()

'/home/james/eam-core-provenance/docs/ipynb'

In [3]:
import pandas as pd 
import pint
import numpy as np
import pickle

In [34]:
dfs = []
dfs.append(pd.read_pickle('../../output/CDN.pickle'))
dfs.append(pd.read_pickle('../../output/Cellular.pickle'))
dfs.append(pd.read_pickle('../../output/Datacentres.pickle'))
dfs.append(pd.read_pickle('../../output/End User Device.pickle'))
dfs.append(pd.read_pickle('../../output/Modem Router.pickle'))

print(len(dfs))

5

In [39]:
for df in dfs:
    print(df)

time        samples  group
2020-01-01  0        A        1249.9999999999998
                     B        2499.9999999999995
dtype: pint[kilogram]
time        samples  group
2020-01-01  0        A        45.65625
                     B         91.3125
dtype: pint[kilogram]
time        samples
2020-01-01  0          83.33333333333333
dtype: pint[kilogram]
time        samples  group
2020-01-01  0        A        0.030000000000000002
                     B        0.060000000000000005
dtype: pint[kilogram]
time        samples  group
2020-01-01  0        A        13.149000000000001
                     B        26.298000000000002
dtype: pint[kilogram]

In [51]:
cdn = dfs[0]
dac = dfs[2]

cdn

time        samples  group
2020-01-01  0        A        1249.9999999999998
                     B        2499.9999999999995
dtype: pint[kilogram]

In [42]:
print(cdn.index.get_level_values('group').values)

['A' 'B']

In [52]:
res = pd.DataFrame()
for i in range(len(dfs)):
    res[str(i)] = dfs[i]
res

                                           0         1                  2  \
time       samples group
2020-01-01 0       A      1249.9999999999998  45.65625  83.33333333333333
                   B      2499.9999999999995   91.3125  83.33333333333333

                                             3                   4
time       samples group
2020-01-01 0       A      0.030000000000000002  13.149000000000001
                   B      0.060000000000000005  26.298000000000002

In [59]:
from eam_core import util
data, metadata = util.h5load('../../output/result_data_carbon.hdf5')
data

                                    CDN Internet Network         Laptop
unit                     megametric_ton   megametric_ton megametric_ton
time       samples group
2019-01-01 0       A       2.500000e-11     2.500000e-11   2.000000e-07
                   B       2.500000e-11     2.500000e-11   2.000000e-07
2019-02-01 0       A       2.500000e-11     2.500000e-11   2.000000e-07
                   B       2.500000e-11     2.500000e-11   2.000000e-07
2019-03-01 0       A       2.500000e-11     2.500000e-11   2.000000e-07
                   B       2.500000e-11     2.500000e-11   2.000000e-07
2019-04-01 0       A       2.500000e-11     2.500000e-11   2.000000e-07
                   B       2.500000e-11     2.500000e-11   2.000000e-07
2019-05-01 0       A       2.500000e-11     2.500000e-11   2.000000e-07
                   B       2.500000e-11     2.500000e-11   2.000000e-07
2019-06-01 0       A       2.500000e-11     2.500000e-11   2.000000e-07
                   B       2.500000e-11     2.500000e-11   2.000000e-07
2019-07-01 0       A       2.500000e-11     2.500000e-11   2.000000e-07
                   B       2.500000e-11     2.500000e-11   2.000000e-07
2019-08-01 0       A       2.500000e-11     2.500000e-11   2.000000e-07
                   B       2.500000e-11     2.500000e-11   2.000000e-07
2019-09-01 0       A       2.500000e-11     2.500000e-11   2.000000e-07
                   B       2.500000e-11     2.500000e-11   2.000000e-07
2019-10-01 0       A       2.500000e-11     2.500000e-11   2.000000e-07
                   B       2.500000e-11     2.500000e-11   2.000000e-07
2019-11-01 0       A       2.500000e-11     2.500000e-11   2.000000e-07
                   B       2.500000e-11     2.500000e-11   2.000000e-07
2019-12-01 0       A       2.500000e-11     2.500000e-11   2.000000e-07
                   B       2.500000e-11     2.500000e-11   2.000000e-07
2020-01-01 0       A       2.500000e-11     2.500000e-11   2.000000e-07
                   B       2.500000e-11     2.500000e-11   2.000000e-07
2020-02-01 0       A       2.500000e-11     2.500000e-11   2.000000e-07
                   B       2.500000e-11     2.500000e-11   2.000000e-07
2020-03-01 0       A       2.500000e-11     2.500000e-11   2.000000e-07
                   B       2.500000e-11     2.500000e-11   2.000000e-07
...                                 ...              ...            ...
2034-11-01 0       A       2.500000e-11     2.500000e-11   2.222222e-07
                   B       2.500000e-11     2.500000e-11   2.222222e-07
2034-12-01 0       A       2.500000e-11     2.500000e-11   2.222222e-07
                   B       2.500000e-11     2.500000e-11   2.222222e-07
2035-01-01 0       A       2.500000e-11     2.500000e-11   2.222222e-07
                   B       2.500000e-11     2.500000e-11   2.222222e-07
2035-02-01 0       A       2.500000e-11     2.500000e-11   2.222222e-07
                   B       2.500000e-11     2.500000e-11   2.222222e-07
2035-03-01 0       A       2.500000e-11     2.500000e-11   2.222222e-07
                   B       2.500000e-11     2.500000e-11   2.222222e-07
2035-04-01 0       A       2.500000e-11     2.500000e-11   2.222222e-07
                   B       2.500000e-11     2.500000e-11   2.222222e-07
2035-05-01 0       A       2.500000e-11     2.500000e-11   2.222222e-07
                   B       2.500000e-11     2.500000e-11   2.222222e-07
2035-06-01 0       A       2.500000e-11     2.500000e-11   2.222222e-07
                   B       2.500000e-11     2.500000e-11   2.222222e-07
2035-07-01 0       A       2.500000e-11     2.500000e-11   2.222222e-07
                   B       2.500000e-11     2.500000e-11   2.222222e-07
2035-08-01 0       A       2.500000e-11     2.500000e-11   2.222222e-07
                   B       2.500000e-11     2.500000e-11   2.222222e-07
2035-09-01 0       A       2.500000e-11     2.500000e-11   2.222222e-07
                   B       2.500000e-11     2.500000e-11   2.222222e-07
2035-10-01 0       A       2.500000e-11     2.500000e-11   2.222222e-07
                   B       2.500000e-11     2.500000e-11   2.222222e-07
2035-11-01 0       A       2.500000e-11     2.500000e-11   2.222222e-07
                   B       2.500000e-11     2.500000e-11   2.222222e-07
2035-12-01 0       A       2.500000e-11     2.500000e-11   2.222222e-07
                   B       2.500000e-11     2.500000e-11   2.222222e-07
2036-01-01 0       A       2.500000e-11     2.500000e-11   2.222222e-07
                   B       2.500000e-11     2.500000e-11   2.222222e-07

[410 rows x 3 columns]