In [1]:
import os
import sys

def to_base_cwd():
    os.chdir(os.path.join(os.getcwd(), '../..'))

os.getcwd()

'/home/james/eam-core-provenance/docs/ipynb'

In [2]:
#to_base_cwd()
os.getcwd()

'/home/james/eam-core-provenance/docs/ipynb'

In [3]:
import pandas as pd 
import pint
import numpy as np
import pickle

In [11]:
dfs = []
dfs.append(pd.read_pickle('../../output/CDN.pickle'))
dfs.append(pd.read_pickle('../../output/Cellular.pickle'))
dfs.append(pd.read_pickle('../../output/Datacentres.pickle'))
dfs.append(pd.read_pickle('../../output/End User Device.pickle'))
dfs.append(pd.read_pickle('../../output/Modem Router.pickle'))

print(len(dfs))

5

In [12]:
for df in dfs:
    print(df)

                                         CDN
time       samples group
2020-01-01 0       A      1249.9999999999998
                   B      2499.9999999999995
                          Cellular
time       samples group
2020-01-01 0       A      45.65625
                   B       91.3125
                          Datacentres
time       samples
2020-01-01 0        83.33333333333333
                               End User Device
time       samples group
2020-01-01 0       A      0.030000000000000002
                   B      0.060000000000000005
                                Modem Router
time       samples group
2020-01-01 0       A      13.149000000000001
                   B      26.298000000000002

In [16]:
cdn = dfs[0]
cdn

                                         CDN
time       samples group
2020-01-01 0       A      1249.9999999999998
                   B      2499.9999999999995

In [23]:
print(cdn.index.get_level_values('group').values)

['A' 'B']