In [1]:
import numpy as np
import pandas as pd
import pint
import pint_pandas

In [57]:
df_energy = pd.read_pickle("../../../model-sandbox/store energy.pickle").pint.quantify()
df_carbon = pd.read_pickle("../../../model-sandbox/store carbon.pickle").pint.quantify()

res = df_energy.groupby(level=['time', 'samples']).sum()

df_energy.reset_index().append(res).set_index(df_energy.index.names)

/home/james/envs/eam-env-2/lib/python3.8/site-packages/pint_pandas/pint_array.py:648: UnitStrippedWarning: The unit of the quantity is stripped when downcasting to ndarray.
  return np.array(qtys, dtype="object", copy=copy)
/home/james/envs/eam-env-2/lib/python3.8/site-packages/pint_pandas/pint_array.py:648: UnitStrippedWarning: The unit of the quantity is stripped when downcasting to ndarray.
  return np.array(qtys, dtype="object", copy=copy)

                         Fixed Line  Cellular                   CDN  \
time       samples group
2020-01-01 0.0     DE      0.304375   30.4375  0.060875000000000005
                   UK     0.1521875  15.21875  0.030437500000000003
           1.0     DE      0.304375   30.4375  0.060875000000000005
                   UK     0.1521875  15.21875  0.030437500000000003
2020-02-01 0.0     DE      0.304375   30.4375  0.060875000000000005
                   UK     0.1521875  15.21875  0.030437500000000003
           1.0     DE      0.304375   30.4375  0.060875000000000005
                   UK     0.1521875  15.21875  0.030437500000000003
2020-03-01 0.0     DE      0.304375   30.4375  0.060875000000000005
                   UK     0.1521875  15.21875  0.030437500000000003
           1.0     DE      0.304375   30.4375  0.060875000000000005
                   UK     0.1521875  15.21875  0.030437500000000003
2020-04-01 0.0     DE      0.304375   30.4375  0.060875000000000005
                   UK     0.1521875  15.21875  0.030437500000000003
           1.0     DE      0.304375   30.4375  0.060875000000000005
                   UK     0.1521875  15.21875  0.030437500000000003
NaT        NaN     NaN    0.4565625  45.65625             0.0913125
                   NaN    0.4565625  45.65625             0.0913125
                   NaN    0.4565625  45.65625             0.0913125
                   NaN    0.4565625  45.65625             0.0913125
                   NaN    0.4565625  45.65625             0.0913125
                   NaN    0.4565625  45.65625             0.0913125
                   NaN    0.4565625  45.65625             0.0913125
                   NaN    0.4565625  45.65625             0.0913125

                                Modem Router    End User Device
time       samples group
2020-01-01 0.0     DE     22.234593750000002             6.0875
                   UK     11.117296875000001            3.04375
           1.0     DE     22.234593750000002             6.0875
                   UK     11.117296875000001            3.04375
2020-02-01 0.0     DE     22.234593750000002             6.0875
                   UK     11.117296875000001            3.04375
           1.0     DE     22.234593750000002             6.0875
                   UK     11.117296875000001            3.04375
2020-03-01 0.0     DE     22.234593750000002             6.0875
                   UK     11.117296875000001            3.04375
           1.0     DE     22.234593750000002             6.0875
                   UK     11.117296875000001            3.04375
2020-04-01 0.0     DE     22.234593750000002             6.0875
                   UK     11.117296875000001            3.04375
           1.0     DE     22.234593750000002             6.0875
                   UK     11.117296875000001            3.04375
NaT        NaN     NaN          33.351890625  9.131250000000001
                   NaN          33.351890625  9.131250000000001
                   NaN          33.351890625  9.131250000000001
                   NaN          33.351890625  9.131250000000001
                   NaN          33.351890625  9.131250000000001
                   NaN          33.351890625  9.131250000000001
                   NaN          33.351890625  9.131250000000001
                   NaN          33.351890625  9.131250000000001

In [28]:
df_energy.reorder_levels(['group', 'time', 'samples'])

/home/james/envs/eam-env-2/lib/python3.8/site-packages/pint_pandas/pint_array.py:648: UnitStrippedWarning: The unit of the quantity is stripped when downcasting to ndarray.
  return np.array(qtys, dtype="object", copy=copy)
/home/james/envs/eam-env-2/lib/python3.8/site-packages/pint_pandas/pint_array.py:648: UnitStrippedWarning: The unit of the quantity is stripped when downcasting to ndarray.
  return np.array(qtys, dtype="object", copy=copy)

,,,Fixed Line,Cellular,CDN,Modem Router,End User Device
group,time,samples,,,,,
DE,2020-01-01,0,0.304375,30.4375,0.060875000000000005,22.234593750000002,6.0875
UK,2020-01-01,0,0.1521875,15.21875,0.030437500000000003,11.117296875000001,3.04375
DE,2020-01-01,1,0.304375,30.4375,0.060875000000000005,22.234593750000002,6.0875
UK,2020-01-01,1,0.1521875,15.21875,0.030437500000000003,11.117296875000001,3.04375
DE,2020-02-01,0,0.304375,30.4375,0.060875000000000005,22.234593750000002,6.0875
UK,2020-02-01,0,0.1521875,15.21875,0.030437500000000003,11.117296875000001,3.04375
DE,2020-02-01,1,0.304375,30.4375,0.060875000000000005,22.234593750000002,6.0875
UK,2020-02-01,1,0.1521875,15.21875,0.030437500000000003,11.117296875000001,3.04375
DE,2020-03-01,0,0.304375,30.4375,0.060875000000000005,22.234593750000002,6.0875
UK,2020-03-01,0,0.1521875,15.21875,0.030437500000000003,11.117296875000001,3.04375
DE,2020-03-01,1,0.304375,30.4375,0.060875000000000005,22.234593750000002,6.0875
UK,2020-03-01,1,0.1521875,15.21875,0.030437500000000003,11.117296875000001,3.04375
DE,2020-04-01,0,0.304375,30.4375,0.060875000000000005,22.234593750000002,6.0875
UK,2020-04-01,0,0.1521875,15.21875,0.030437500000000003,11.117296875000001,3.04375
DE,2020-04-01,1,0.304375,30.4375,0.060875000000000005,22.234593750000002,6.0875
UK,2020-04-01,1,0.1521875,15.21875,0.030437500000000003,11.117296875000001,3.04375

In [22]:
df_carbon

/home/james/envs/eam-env-2/lib/python3.8/site-packages/pint_pandas/pint_array.py:648: UnitStrippedWarning: The unit of the quantity is stripped when downcasting to ndarray.
  return np.array(qtys, dtype="object", copy=copy)
/home/james/envs/eam-env-2/lib/python3.8/site-packages/pint_pandas/pint_array.py:648: UnitStrippedWarning: The unit of the quantity is stripped when downcasting to ndarray.
  return np.array(qtys, dtype="object", copy=copy)

                                Datacentres  Fixed Line  Cellular         CDN  \
time       samples group
2020-01-01 0       DE     83.33333333333333    0.182625   18.2625    0.036525
                   UK     83.33333333333333  0.04565625  4.565625  0.00913125
2020-02-01 0       DE     83.33333333333333    0.182625   18.2625    0.036525
                   UK     83.33333333333333  0.04565625  4.565625  0.00913125
2020-03-01 0       DE     83.33333333333333    0.182625   18.2625    0.036525
                   UK     83.33333333333333  0.04565625  4.565625  0.00913125
2020-04-01 0       DE     83.33333333333333    0.182625   18.2625    0.036525
                   UK     83.33333333333333  0.04565625  4.565625  0.00913125

                                Modem Router     End User Device
time       samples group
2020-01-01 0       DE     13.340756250000002  3.6525000000000003
                   UK     3.3351890625000005  0.9131250000000001
2020-02-01 0       DE     13.340756250000002  3.6525000000000003
                   UK     3.3351890625000005  0.9131250000000001
2020-03-01 0       DE     13.340756250000002  3.6525000000000003
                   UK     3.3351890625000005  0.9131250000000001
2020-04-01 0       DE     13.340756250000002  3.6525000000000003
                   UK     3.3351890625000005  0.9131250000000001

In [7]:
from eam_core.util import h5load
d_energy,m = h5load("pickle_data/result_data_energy.hdf5")
d_carbon,m = h5load("pickle_data/result_data_carbon.hdf5")

d_energy

                                  Storage   Datacentres      Cellular  \
unit                        kilowatt_hour kilowatt_hour kilowatt_hour
time       samples group
2020-01-01 0       EIGHT         0.000005      0.040583      0.015523
                   ELEVEN        0.000005      0.055802      0.015523
                   FIFTEEN       0.000005      0.076094      0.015523
                   FIVE          0.000005      0.025365      0.015523
                   FOUR          0.000005      0.020292      0.015523
...                                   ...           ...           ...
2020-12-01 0       TEN           0.000005      0.050729      0.015523
                   THIRTEEN      0.000005      0.065948      0.015523
                   THREE         0.000005      0.015219      0.015523
                   TWELVE        0.000005      0.060875      0.015523
                   TWO           0.000005      0.010146      0.015523

                               Fixed Line           CPE End User Device
unit                        kilowatt_hour kilowatt_hour   kilowatt_hour
time       samples group
2020-01-01 0       EIGHT         0.000304      0.000203        1.988583
                   ELEVEN        0.000304      0.000203        2.734302
                   FIFTEEN       0.000304      0.000203        3.728594
                   FIVE          0.000304      0.000203        1.242865
                   FOUR          0.000304      0.000203        0.994292
...                                   ...           ...             ...
2020-12-01 0       TEN           0.000304      0.000203        2.485729
                   THIRTEEN      0.000304      0.000203        3.231448
                   THREE         0.000304      0.000203        0.745719
                   TWELVE        0.000304      0.000203        2.982875
                   TWO           0.000304      0.000203        0.497146

[192 rows x 6 columns]