In [1]:
import os
import sys

def to_base_cwd():
    os.chdir(os.path.join(os.getcwd(), '../..'))

os.getcwd()

'/home/james/eam-core-provenance/docs/ipynb'

In [2]:
#to_base_cwd()
os.getcwd()

'/home/james/eam-core-provenance/docs/ipynb'

In [3]:
import pandas as pd 
import pint
import numpy as np
import pickle

In [61]:
dfs = []
dfs.append(pd.read_pickle('../../output/Datacentres.pickle'))
dfs.append(pd.read_pickle('../../output/Cellular.pickle'))
dfs.append(pd.read_pickle('../../output/Fixed Line.pickle'))
dfs.append(pd.read_pickle('../../output/CDN.pickle'))
dfs.append(pd.read_pickle('../../output/Modem Router.pickle'))
dfs.append(pd.read_pickle('../../output/End User Device.pickle'))

print(len(dfs))

6

In [62]:
for df in dfs:
    print(df)

time        samples
2020-01-01  0          83.33333333333333
dtype: pint[kilogram]
time        samples  group
2020-01-01  0        A        45.65625
                     B         91.3125
dtype: pint[kilogram]
time        samples  group
2020-01-01  0        A        6.8484375
                     B        13.696875
dtype: pint[kilogram]
time        samples  group
2020-01-01  0        A        1249.9999999999998
                     B        2499.9999999999995
dtype: pint[kilogram]
time        samples  group
2020-01-01  0        A        13.149000000000001
                     B        26.298000000000002
dtype: pint[kilogram]
time        samples  group
2020-01-01  0        A        0.030000000000000002
                     B        0.060000000000000005
dtype: pint[kilogram]

In [63]:
cdn = dfs[3]
cdn

time        samples  group
2020-01-01  0        A        1249.9999999999998
                     B        2499.9999999999995
dtype: pint[kilogram]

In [64]:
print(cdn.index.get_level_values('group').values)

['A' 'B']

In [71]:
res = pd.DataFrame()
for i in range(len(dfs)):
    print(dfs[i].shape)
    res[str(i)] = dfs[len(dfs)-i-1]
    #res[str(i)] = dfs[i]
res

(1,)
(2,)
(2,)
(2,)
(2,)
(2,)

                                             0                   1  \
time       samples group
2020-01-01 0       A      0.030000000000000002  13.149000000000001
                   B      0.060000000000000005  26.298000000000002

                                           2          3         4  \
time       samples group
2020-01-01 0       A      1249.9999999999998  6.8484375  45.65625
                   B      2499.9999999999995  13.696875   91.3125

                                          5
time       samples group
2020-01-01 0       A      83.33333333333333
                   B      83.33333333333333

In [72]:
from eam_core import util
data, metadata = util.h5load('../../output/result_data_carbon.hdf5')
data.head(5)

                                    CDN Internet Network         Laptop
unit                     megametric_ton   megametric_ton megametric_ton
time       samples group
2019-01-01 0       A       2.500000e-11     2.500000e-11   2.000000e-07
                   B       2.500000e-11     2.500000e-11   2.000000e-07
2019-02-01 0       A       2.500000e-11     2.500000e-11   2.000000e-07
                   B       2.500000e-11     2.500000e-11   2.000000e-07
2019-03-01 0       A       2.500000e-11     2.500000e-11   2.000000e-07